# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.melos_tool_configs/
.melos_tool_settings.yaml
generated_plugin_registrant.dart

# Android
android/.gradle/
android/captures/
android/local.properties
android/.idea/
*.iml

# iOS
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
ios/.generated/

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
DerivedData/
.idea/

# macOS
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/.generated/
macos/.symlinks/
macos/Pods/
macos/.flutter-plugins
macos/.flutter-plugins-dependencies

# Windows
windows/flutter/ephemeral/
windows/.flutter-plugins
windows/.flutter-plugins-dependencies

# Linux
linux/flutter/ephemeral/
linux/.flutter-plugins
linux/.flutter-plugins-dependencies

# Web
web/.dart_tool/

# VS Code
.vscode/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Others
*.log
*.lock
*.tmp
*.swp
*.DS_Store
*.bak
